<h1>New Host</h1>

<%= form_for @host do |e| %>
  <p>
    <%= e.label :name %><br>
    <%= e.text_field :name %>
  </p>
  <p>
    <%= e.label :email %><br>
    <%= e.text_field :email %>
  </p>
  <p>
    <%= e.label :password %><br>
    <%= e.password_field :password %>
  </p>
 
  <p>
    <%= e.label :website %><br>
    <%= e.text_field :website %>
  </p>
 
  <p>
    <%= e.submit %>
  </p>
  <% end %>

<%= link_to 'Back', hosts_path %>
