<% @events.each do |e| %>
<h2><%= e.name %><h2>
<h3><%= e.date %></h3>
<p><%= e.description %></p>
<p>Posted by <%= link_to e.host.name, e.host.website %></p>
<p>Category: <%= e.category.name %></p>
<% end %>