<%= link_to "Sign Up", new_host_path %> |
<% if session[:host_id] %>
<%=	link_to "Logout", logout_path %>
<% else %>
<%=	link_to "Login", new_session_path %>
<% end %>
<%= session[:host_id] %>
<div>
<h1>What's Happening?</h1>
<p>List of Events</p>
<%= link_to 'Post a Listing', new_listing_path %><p id="order"><%= session[:order] %></p>
Order by: <%= link_to 'Event Title', order_by_path(:order_by => 'name'), remote: true, class: 'reorder' %>
<%= link_to 'Host', order_by_path(:order_by => 'host_id'), remote: true, class: 'reorder' %>
<%= link_to 'Event Date', order_by_path(:order_by => 'date DESC'), remote: true, class: 'reorder' %>
<%= link_to 'Recently Created', order_by_path(:order_by => 'created_at DESC'), remote: true, class: 'reorder' %>
<div id="events-list">
	<%= render partial: 'events', locals: { events: @events} %>
</div>
</div>
<div>
<h1>Categories</h1>
<% @categories.each do |c| %>
<h2><%= c.name %></h2>
<p><%= link_to 'See All Events in This Category', category_path(c.slug) %></p>
<% end %>
</div>

